<button class="btn btn-primary" (click)="goToMyLocation()">
  Mi ubicación
</button>

<!-- <div id="circularMenu" class="circular-menu">

  <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
  </a>

  <menu class="items-wrapper">
    <a href="#" class="menu-item fa fa-facebook"></a>
    <a href="#" class="menu-item fa fa-twitter"></a>
    <a href="#" class="menu-item fa fa-google-plus"></a>
    <a href="#" class="menu-item fa fa-linkedin"></a>
  </menu>

</div> -->


<div id="circularMenu1" class="circular-menu circular-menu-left ">

  <a class="floating-btn" onclick="document.getElementById('circularMenu1').classList.toggle('active');">
    <i class="bi bi-map icon" style="font-size: 1rem; color: white;"></i>
  </a>

  <menu class="items-wrapper">
    <!-- <button class="menu-item fa fa-home"><i class="bi bi-signpost-2"></i></button> -->
    <a href="#" class="menu-item fa fa-home"><i class="bi bi-signpost-2"></i></a>
    <a href="#" class="menu-item fa fa-user"><i class="bi bi-image-alt"></i></a>
    <a href="#" class="menu-item fa fa-pie-chart"><i class="bi bi-sort-up-alt"></i></a>
    <a href="#" class="menu-item fa fa-cog"><i class="bi bi-geo-alt"></i></a>
  </menu>

</div>>
